*.iml
.DS_Store

.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

.idea/
.vscode/
docs/skills/
local.properties
.omx/
/AGENTS.md
TODO.md
.codex/*
!.codex/agents/
!.codex/agents/**
!.codex/skills/
!.codex/skills/**
.codex/skills/.system/**
!.codex/prompts/
!.codex/prompts/**
