*.iml
.DS_Store

.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

.idea/
.codex/*
!.codex/Agent.md
local.properties
.omx/
!.codex/agents/
!.codex/agents/**
!.codex/skills/
!.codex/skills/**
.codex/skills/.system/**
!.codex/prompts/
!.codex/prompts/**
TODO.md
